
<script type="text/javascript" src="{$basePath}/js/advertising.js"></script>

<div id="refContent" class="advertising">
	<div class="addcont" n:foreach="$adds as $add"><img id="{$add->id}" class="ajax" src="{$basePath}/images/advertising/{$add->file}" alt="{$add->title}" title="{$add->title}" /></div>
</div>