
<script type="text/javascript" src="{$basePath}/js/identities.js"></script>

<div id="refContent" class="identities">
	<div class="logocont" n:foreach="$logos as $logo"><img id="{$logo->id}" class="ajax {$iterator->isOdd() ? grey : black}" rel="{$logo->mouseview}" src="{$basePath}/images/identities/{$logo->file}" alt="{$logo->title}" title="{$logo->title}" /></div>
</div>