
<script type="text/javascript" src="{$basePath}/js/identities.js"></script>

<div id="refContent" class="identities">
	<div class="logocont" n:foreach="$logos as $logo">
		<a class="lightbox" href="{$basePath}/images/identities/{$logo->detail}" title="{$logo->title}">
			<img id="{$logo->id}" class="{$iterator->isOdd() ? grey : black}" rel="{$logo->mouseview}" src="{$basePath}/images/identities/{$logo->file}" alt="{$logo->title}" title="{$logo->title}" />
		</a>
	</div>
</div>