{**
 * shade.cd
 * reference layout template
 * autor: Dast (dast@seznam.cz)
 *}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="{isset($description) ? $description : 'Studio SHADE, brandbuilding and design'}">
	<meta name="author" content="Dast, dast@seznam.cz">
	<meta name="copyright" content="Copyright @ 2015 - All rights reserved.">
	<meta name="resource-type" content="document">
	<meta name="robots" content="index, follow">

	<title n:snippet=title>{isset($title) ? $title : "Studio SHADE"}</title>

	<link rel="stylesheet" href="{$basePath}/css/styles.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/css/shade.css" type="text/css">
    <link rel="stylesheet" href="{$basePath}/css/references.css" type="text/css">
	<link rel="shortcut icon" href="{$basePath}/favicon.jpg" type="image/x-icon">

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/scripts.js"></script>
	<script type="text/javascript" src="{$basePath}/js/shade.js"></script>
	<script type="text/javascript" src="{$basePath}/js/ajax.js"></script>
	
	<link rel="stylesheet" href="{$basePath}/magnific-popup/magnific-popup.css">
	<script src="{$basePath}/magnific-popup/jquery.magnific-popup.js"></script>

	{block head}{/block}
</head>

<body>
	<div id="topbar">
	</div>
	
    <div id="menucont">
		<div id="topmenu">
			{foreach $sections as $item}
				<span><a n:href=":Front:Default:default $item->webname">{$item->name}</a></span>
		    {/foreach}
		</div>
	
		<div id="shademenu">
        	{if $refname != 'identities'}
            <a id="menu-S" class="menuItem pasive" n:href="Reference:identities"><span>Loga</span></a>
            {else} <span id="menu-S" class="menuItem"><span>Loga</span></span>
            {/if}
            {if $refname != 'packaging'}
            <a id="menu-H" class="menuItem pasive" n:href="Reference:packaging"><span>Obaly a Dárky</span></a>
            {else} <span id="menu-H" class="menuItem"><span>Obaly a Dárky</span></span>
            {/if}
			{if $refname != 'printposter'}
            <a id="menu-A" class="menuItem pasive" n:href="Reference:print-poster"><span>Reklama & Video</span></a>
            {else} <span id="menu-A" class="menuItem"><span>Reklama & Video</span></span>
            {/if}
            {if $refname != 'websites'}
            <a id="menu-D" class="menuItem pasive" n:href="Reference:websites"><span>Plakáty & Tiskoviny</span></a>
            {else} <span id="menu-D" class="menuItem"><span>Plakáty & Tiskoviny</span></span>
            {/if}
            {if $refname != 'advertising'}
            <a id="menu-E" class="menuItem pasive" n:href="Reference:advertising"><span>Weby</span></a>
            {else} <span id="menu-E" class="menuItem"><span>Weby</span></span>
            {/if}
            <div id="flashContent">
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="802" height="153" id="AnimMenu" align="middle">
					<param name="movie" value="{$basePath}/images/AnimMenu.swf" />
                    <param name="flashVars" value="refname={$refname}" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="transparent" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
					<!--[if !IE]>-->
					<object type="application/x-shockwave-flash" data="{$basePath}/images/AnimMenu.swf" width="802" height="153">
						<param name="movie" value="{$basePath}/images/AnimMenu.swf" />
                        <param name="flashVars" value="refname={$refname}" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="play" value="true" />
						<param name="loop" value="true" />
						<param name="wmode" value="transparent" />
						<param name="scale" value="showall" />
						<param name="menu" value="true" />
						<param name="devicefont" value="false" />
						<param name="salign" value="" />
						<param name="allowScriptAccess" value="sameDomain" />
					<!--<![endif]-->
						<a href="http://www.adobe.com/go/getflash">
							<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
						</a>
					<!--[if !IE]>-->
					</object>
					<!--<![endif]-->
				</object>
			</div>
		</div>
	</div>
    

	{block content}
    	{include #content}
	{/block}


</body>
</html>
